extends ./main.jade
block content
  .container
    .row
      h1 Admin Panel
    .row
      h2 Users
    .row
      .col-xs-12
        table.table.table-bordered.table-striped.table-container
          thead
            tr
              th Username
              th Password
              th Role
              th Delete
    .jumbotron
      form#add-user.form-inline
        .form-group
          label(for='user_name') Name
          input.form-control(type='text', name='user_name', placeholder="WHAT'S YA NAME FUCKER?")
        .form-group
          label(for='exampleInputEmail2') Email
          input.form-control(type='password', name='user_password', placeholder='password')
        .form-group
          select.select(name='user_role_id')
            option(value='0') Admin
            option(value='1') Evaluator
        button.btn.btn-default(type='submit') Add user
  script(type='text/javascript', src='includes/js/admin.js')