extends ./main.jade
block content
    .container-fluid
        .jumbotron.col-xs-4.col-xs-offset-4(style="text-align:center; top:50vh; transform: translate(0, -50%);")
            button.btn.btn-default.btn-success#startForm 'Inscrie-te acum!'