extends ./main.jade
block content
    .container-fluid
        .jumbotron.col-xs-4.col-xs-offset-4(style="text-align:center; top:50vh; transform: translate(0, -50%);")
          form(name='login', action='/testCredentials', method='post', accept-charset='utf-8')
            .form-group.form-inline
              label(for='username') Username
              input.form-control(type='username', name='username', placeholder='username', required='')
            .form-group.form-inline
              label(for='password') Password
              input.form-control(type='password', name='password', placeholder='password', required='')
            .form-group.form-inline
                input.btn.btn-primary(type='submit', value='Login')