
doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="datatables/media/css/dataTables.bootstrap.css")
    link(rel="stylesheet" href="datatables/media/css/jquery.dataTables.css")
    link(rel="stylesheet" href="font-awesome/css/font-awesome.css")
    script(type="text/javascript" src="jquery/dist/jquery.js")
    script(type="text/javascript" src="bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript" src="datatables/media/js/jquery.dataTables.js")
    script(type="text/javascript" src="datatables/media/js/dataTables.bootstrap.js")
    script(type="text/javascript" src="includes/js/utils.js")
    script(type="text/javascript" src="react/react.js")
  body
    block content

    
